@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-bg: #e7cfb1;
  --yellow: #f3c77c;
  --black-bg: #000000;
  --white-bg: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  position: relative;
  background-color: var(--black-bg);
  overflow-x: hidden;
}

header {
  padding: 20px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo svg {
  width: 50px;
  height: auto;
}

.hamburger {
  display: none;
  padding: 0;
}

.hamburger-box {
  width: 30px;
}

.hamburger-inner::before {
  display: none;
}

.hamburger-inner,
.hamburger-inner::after {
  background: var(--primary-bg) !important;
  border-radius: 0px !important;
  height: 2px;
  width: 30px;
  transition-duration: 0.5s !important;
  transition-timing-function: ease-in-out !important;
}

#menu {
  display: flex;
  flex-direction: row;
  gap: 5%;
  align-items: center;
  justify-content: right;
  list-style: none;
  width: 100%;
  padding-inline: 20px;
}

#menu li {
  overflow: hidden;
}

#menu li a {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: var(--primary-bg);
}

#responsive_menu {
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 100dvh;
  background: var(--black-bg);
  padding: 24px;
  z-index: 99;
}

#responsive_menu li {
  overflow-y: hidden;
  margin-block: 12px;
}

#responsive_menu .link {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: var(--primary-bg);
  font-size: clamp(20px, 12.5vw, 50px);
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 1024px) {
  #menu {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
}

.hero_text_container {
  width: 100vw;
  min-height: 65dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "arial";
  color: var(--white-bg);
  z-index: 1;
}

ul.hero_text_title {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero_text_title li {
  font-size: 36vw;
  font-weight: 900;
  padding-inline: 2px;
  letter-spacing: -6px;
  color: var(--yellow);
  overflow-y: hidden;
}

.hero_text_title li span {
  display: block;
  font-family: "Roboto", sans-serif;
}

.hero_text_tagline {
  font-family: "Roboto", sans-serif;
  font-size: clamp(3vw, 36px, 24px);
  font-weight: 400;
  text-align: center;
  color: var(--yellow);
  overflow-y: hidden;
}

.hero_text_tagline span {
  display: block;
}

@media screen and (max-width: 720px) {
  .hero_text_container {
    width: 100vw;
    min-height: 60dvh;
  }
}

/*  video container section */
#video_container {
  margin-top: 24px;
  width: 100%;
  min-height: 67dvh;
  background: var(--black-bg);
  display: flex;
  justify-content: center;
}

#video_container video {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 720px) {
  #video_container {
    margin-top: 12px;
    width: 100vw;
    margin-top: 24px;
  }
}
